<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
   
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/home">Home</a>
          </li>
          @if(isAdmin){
            <li class="nav-item">
              <a class="nav-link" routerLink="/users">Users</a>
            </li>
          }
          <li class="nav-item">
            <a class="nav-link" routerLink="/devices">Devices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/constellations">Constellations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/alerts">Alerts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/documentation">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/workspace">Workspace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="showAboutMessage()">About</a>
          </li>       
      </ul>
      <ul class="buttons-navbar">
        <li class="nav-item ms-auto ">
          <button class="navbar-button" (click)="alerts()"><span class="material-icons">{{alertsStatus}}</span></button>
        </li> 
        <li class="nav-item ms-auto ">
          <button class="navbar-button"  (click)="logout()"><span class="material-icons">logout</span></button>
        </li> 
      </ul>      
      </div>
    </div>
  </nav>
