<app-navbar></app-navbar>
<div class="users-container" [ngClass]="themeService.getCurrentTheme()">
    <div class="form-container" >
        <form form [formGroup]="userForm" (ngSubmit)="addUser()">
            <div class="form-fields">
                <div class="form-group">
                    <label for="name">Nombre y apellidos</label>
                    <input type="text" id="name" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input type="text" id="dni" formControlName="dni" pattern="\d{8}[A-Za-z]" title="Por favor, introduce un DNI válido (8 números seguidos de una letra)">
                </div>                
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select id="role" formControlName="role">
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>                
                <div class="form-group">
                    <label for="department">Departamento</label>
                    <input type="text" id="department" formControlName="department">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="text" id="password" formControlName="password">
                </div>
            </div>
            <div class="form-controllers">
                <button type="submit">Enviar</button>
                <button type="clear">Limpiar</button>
            </div>
        </form>
    </div>
    <div class="users-list-container">
        @for(user of users; track user){
            <div class="user-card">
                <div class="profile-image">
                    <div class="circle"></div>
                </div>
                <div class="info-user">
                    <span>{{user.name}}</span>
                    <span>{{user.dni}}</span>
                    <span>{{user.email}}</span>
                    <span>{{user.role}}</span>
                    <span>{{user.department}}</span>
                    <span>{{user.password}}</span>
                </div>
            </div>
            
        }
    </div>
</div>

 
