<app-navbar></app-navbar>
<div class="devices-container">
    <div class="devices-list">
        @for(device of devices; track device.id_dispositivo){
            <div class="device-container" (click)="openDeviceDetail(device.id_dispositivo)">
                <p class="info-data">
                    Id dispositivo: {{device.id_dispositivo}}
                </p>
                <div class="info-data">
                    Estado: <div [ngClass]="isActive(device.estado)"></div>
                    
                </div>
                <p class="info-data">
                    Última lectura: {{generateTime(device.fecha_ultima_lectura)}}
                </p>
            </div>
        }
    </div>
    <app-map class="map-container" [devices]="devices"></app-map>
</div>
