<div class="button-container">
    <button (click)="generateReport()">Generate</button>
</div> -->



<div class="controllers">
    <div><button class="buttonAll" (click)="toggleFilterMeasurementsLists('all')">All</button></div>
    <div><button class="buttonAll" (click)="toggleFilterMeasurementsLists('personal')">Personal</button></div>
    <div><button class="buttonAll" (click)="toggleFilterMeasurementsLists('constellations')">Constellations</button>
    </div>
    <div><button class="buttonAll" (click)="toggleFilterMeasurementsLists('devices')">Devices</button></div>
</div>

<div class="measurements-container">
    <div class="measurements-list-container">
        <div class="container-title-lists">
            <div>
                <h4>List of Measurements:</h4>
            </div>
            <div class="measurements-list">
                @for(measurement of measurements; track measurement){
                <div class="measurement-container" (click)="showDetail(measurement)">
                    <p class="info-data">
                        Name: {{measurement.name}}
                    </p>
                    <p class="info-data">
                        Last lecture: {{measurement.startedAt}}
                    </p>
                    @if(measurement.type.isConstellation == true){
                    <p class="info-data">
                        Constellation Id: {{measurement.type.id}}
                    </p>
                    } @else {
                    <p class="info-data">
                        Device Id: {{measurement.type.id}}
                    </p>

                    }

                </div>
                }
            </div>

        </div>
        <div>
          {{object2string(myMeasurement)}}
        </div>
    </div>
</div>
<!-- 
<div class="measurements-container">
    <div class="measusrements-list-container">
        <h5>List of my Measurements</h5>
        <div class="measusrements-list">
            @for(measurement of myMeasurements; track measurement){
            <div class="measurement-container">
                <p class="info-data">
                    Name: {{measurement.name}}
                </p>
                <p class="info-data">
                    Last lecture: {{measurement.startedAt}}
                </p>
                @if(measurement.type.isConstellation == true){
                <p class="info-data">
                    Constellation Id: {{measurement.type.id}}
                </p>
                }
                <p class="info-data">
                    Device Id: {{measurement.type.id}}
                </p>

            </div>
            }
        </div>
    </div>
</div>

<div class="measurements-container">
    <div class="measusrements-list-container">
        <h5>List of Constellations Measurements</h5>
        <div class="measusrements-list">
            @for(measurement of constellationsMeasurements; track measurement){
            <div class="measurement-container">
                <p class="info-data">
                    Name: {{measurement.name}}
                </p>
                <p class="info-data">
                    Last lecture: {{measurement.startedAt}}
                </p>
                <p class="info-data">
                    Constellation Id: {{measurement.type.id}}
                </p>
            </div>
            }
        </div>
    </div>
</div>

<div class="measurements-container">
    <div class="measusrements-list-container">
        <h5>List of Devices Measurements</h5>
        <div class="measusrements-list">
            @for(measurement of devicesMeasurements; track measurement){
            <div class="measurement-container">
                <p class="info-data">
                    Name: {{measurement.name}}
                </p>
                <p class="info-data">
                    Last lecture: {{measurement.startedAt}}
                </p>
                <p class="info-data">
                    Device Id: {{measurement.type.id}}
                </p>

            </div>
            }
        </div>
    </div>
</div> -->