.controllers{

  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-evenly;
  margin: 10px;
  height: 10%;
}
.buttonAll {

  font-weight: bold;
  font-size: 1rem;
  width: 8rem;

}
.info-data {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.measurements-container {
  display: flex;
  flex-direction: row;
  height: 75%;
  
}

.measurements-list-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgb(243, 243, 243);
  height: 80vh;
  width: 100%;
  gap: 8rem;
}

.container-title-lists{

  display: flex;
  flex-direction: column;
  height: 100%;
}

.measurement-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(182, 181, 181);
  width: 300px;
  height: auto;
  padding-left: 10px;

}

.measurements-list{
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  margin: 10px 0;
  padding: 10px;
}
