<app-navbar></app-navbar>
<div class="workspaces-container">
  <div class="section-description">
    <h1 class="section-title">workspaces</h1>
    <p>
      The "Workspaces" section provides users with a centralized environment to
      access and manage radio frequency measurement sessions. From there, they
      can consult both their own sessions and those shared by others, review
      detailed results, and export documents for further analysis. This
      functionality facilitates collaboration and efficient project tracking
      related to RF measurement.
    </p>
  </div>

  <div class="workspaces-list">
    @for(workspace of workspaces; track workspace){
    <div class="workspace-card" (click)="goTo(workspace.id)">
      <div class="workspace-info">
        <div class="workspace-data">
          <h1>{{ $index + 1 }}</h1>
        </div>
        <div class="workspace-data">
          <h3>{{ workspace.name }}</h3>
        </div>
        <div class="workspace-data">
          <p>{{ workspace.description }}</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
