<app-navbar></app-navbar>
<div [ngClass]="themeService.getCurrentTheme()"></div>
<div class="home-container">
    <div class="system-description">
        <div class="logo-container">
            <img src="../../../assets/logo_orange.png" alt="">
        </div>
    </div>
    <div class="sections">
        <div class="section-card" (click)="goTo(routes.alerts)">
            <div class="icon-section">
                <i class="material-icons">notifications_active</i>
            </div>
            <div class="section-name"> 
                <h5>Alerts</h5>
            </div>
        </div>
        @if(isAdmin){
        <div class="section-card" (click)="goTo(routes.users)">
            <div class="icon-section">
                <i class="material-icons">person</i>
            </div>
            <div class="section-name">
                <h5>Users</h5>
            </div>
        </div>
    }
        <div class="section-card" (click)="goTo(routes.devices)">
            <div class="icon-section">
                <i class="material-icons">vibration</i>
            </div>
            <div class="section-name">
                <h5>Devices</h5>
            </div>
        </div>
        <div class="section-card" (click)="goTo(routes.constellations)">
            <div class="icon-section">
                <i class="material-icons">dns</i>
            </div>
            <div class="section-name">
                <h5>Constellations</h5>
            </div>
        </div>
    </div>
</div>

