.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.system-description{
    width: 30%;
    min-width: 300px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container > img {
    padding: 10px;
    height: 100%;
    width: 100%;
}
.sections {
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.sections::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30%;
    width: 180%;
    height: 100%;
    background: url("../../../assets/waves.gif") no-repeat center center;
    background-size: cover;
    filter: blur(8px); 
    z-index: -1; 
}
.section-card:hover {
    background-color: black;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

.section-card:hover .section-name h5,
.section-card:hover .icon-section i {
    background: -webkit-linear-gradient(left,rgb(255, 170, 0), rgb(249, 97, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.section-card{
    margin: 0px 20px;
    cursor: pointer;
    height: 30%;
    min-height: 200px;
    min-width: 150px;
    width: 15%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(182, 181, 181);
}
.section-name{
    text-align: center;
}
.icon-section{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-section > i {
    font-size: 4rem;
}