<app-navbar></app-navbar>
<div class="device-detail-container">
    <div class="measurement-form">
        <measurement-form [isConstellation]="false" [station_id]="this.station_id"></measurement-form>
    </div>

    <div class="info-container">
        <div class="device-info-container">
            <div>Id: {{ device?.station_id }}
                State: {{ device?.state }}
                Coordinates: {{ device?.coordinates?.lat }},{{device?.coordinates?.lng}}
                Last lecture: {{ device?.last_lectureAt }}
            </div>
        </div>

        <div class="charts-container">
            <charts></charts>
        </div>
    </div>
</div>