
<h2>Charts</h2>


<div class="charts-container">
  <!--
  <div class="tarjetas">
    <ngx-charts-number-card 
     [animations]="animationsNC" [results]="samplesPerChannel"
      [scheme]="colorSchemeNC">
    </ngx-charts-number-card>
  </div>
  <div class="tartas"><ngx-charts-pie-grid
     [results]="samplesPerChannel"  [animations]="animationsNC"
      [scheme]="colorSchemeNC">
    </ngx-charts-pie-grid>
  </div>
  -->
  <div class="barras">
    <ngx-charts-line-chart 
    [results]="samplesPerChannel"
    [animations]="true"
    [scheme]="colorSchemeNC"
    [xAxisLabel]="'Channels'"
    [rotateXAxisTicks]="true"
    [xAxis]="true"
    [yAxisLabel]="'Ocupation'"
    [timeline]="true"
    [yAxis]="true"
    [legend]="true"
    [legendTitle]="'Potencia media canal'"
    > 
    </ngx-charts-line-chart>
  </div>

</div>