
<h2>Charts</h2>

<ngx-charts-line-chart
[view]="view"
[scheme]="colorScheme"
[results]="multi"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[autoScale]="autoScale"
[animations]="false"
>
</ngx-charts-line-chart>
<!-- <div class="charts-container">
  <div class="tarjetas">
    <ngx-charts-number-card 
     [animations]="animationsNC" [results]="samplesPerChannel"
      [scheme]="colorSchemeNC">
    </ngx-charts-number-card>
  </div>
  <div class="tartas"><ngx-charts-pie-grid
     [results]="samplesPerChannel"  [animations]="animationsNC"
      [scheme]="colorSchemeNC">
    </ngx-charts-pie-grid>
  </div>
  <div class="barras"><ngx-charts-bar-vertical 
    [results]="samplesPerChannel"
    [animations]="animationsNC"
    [scheme]="colorSchemeNC"
    [xAxisLabel]="'Channels'"
    [xAxis]="true"
    [yAxisLabel]="'Ocupation'"
    [yAxis]="true"
    [legend]="true"
    [legendTitle]="'Bars'"
    > 
    
    </ngx-charts-bar-vertical>
  </div>

</div> -->