
.charts-container{
  max-width: 800px;
  width: auto;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}
.channel-occupation-container{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  gap:5px;
  padding: 10px
}
.channel-occupation{
  padding: 5px;
  border-radius: 3px;
}

.chart-horizontal-container{
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(182, 181, 181);   
  height: 400px;
  padding:5px;
  margin: 10px;
  width: auto;
}

.measurement-info-container{
  max-width: 800px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 10px;
  height: 100px;
}

.data-info-container{
  width: 50%;
  box-shadow: 2px 2px 10px rgb(182, 181, 181);   
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.data-text{
  font-size: 1.5em;
}