<div class="form-container">
  <div class="form-title">
    <h2>Measurement Form</h2>
  </div>
  <form [formGroup]="measurementForm" (ngSubmit)="onSubmit()">


    <div form-fields>
      <div class="form-group">
        <label for="type">Type of measurement:</label>
        <select id="type" formControlName="type" (change)="onChangeTypeOfMeasurement($event)" required>
          <option value="basic">Basic</option>
          <option value="advanced">Advanced</option>
          <option value="predefined">Predefined</option>
        </select>
      </div>




      @if(predefinedView) {



      <div class="form-group">
        <label for="predefined">Predefined Measurements:</label>
        <select id="predefined" (change)="onPredefinedChange($event)">
          <option>Select one option below</option>
          @for (predefinedMeasurement of predefinedMeasurements; track predefinedMeasurement){
          <option value="{{predefinedMeasurement.name}}">{{predefinedMeasurement.name}}</option>
          }
        </select>
      </div>



      <div class="form-group">
        <label for="freqIni">Initial Frequency (MHz):</label>
        <input formControlName="freqIni"  type="number" id="freqIni" name="freqIni" min="25" max="1750" step="any" required />
      </div>
      <div class="form-group">
        <label for="freqFinal">Final Frequency (MHz):</label>
        <input formControlName="freqFinal" type="number" id="freqFinal" name="freqFinal" min="25" max="1750" step="any" required />
      </div>

      }
      @else {


      <div class="form-group">
        <label for="freqIni">Initial Frequency (MHz):</label>
        <input formControlName="freqIni" type="number" id="freqIni" name="freqIni" min="25" max="1750" step="any" required />
      </div>
      <div class="form-group">
        <label for="freqFinal">Final Frequency (MHz):</label>
        <input formControlName="freqFinal" type="number" id="freqFinal" name="freqFinal" min="25" max="1750" step="any" required />
      </div>

      }

      <div class="form-group">
        <label for="decision_type">Decision type:</label>
        <select formControlName="mode"id="mode" name="mode" required>
          <option value="1">Estimation to the maximum</option>
          <option value="2">Estimation to the minimum</option>
        </select>
      </div>

      <div class="form-group">
        <label for="bandwidth">Bandwidth (kHz):</label>
        <input formControlName="bandwidth" type="number" id="bandwidth" name="bandwidth" min="0" step="any" required />
      </div>
      <div id="advancedOptions" style="display: none">
        <br>
        <h4>Advanced Options</h4>
        <div class="form-group">
          <label for="threshold">Threshold:</label>
          <input formControlName="threshold"type="text" id="threshold" name="threshold"  value="auto" required />
        </div>
        <div class="form-group">
          <label for="t_capt">Window capture time:</label>
          <input formControlName="t_capt"type="text" id="t_capt" name="t_capt" value="0.25" required />
        </div>
        <div class="form-group">
          <label for="nfft">Number of window points:</label>
          <select formControlName="nfft" id="nfft" name="nfft" required>
            <option value="1024" selected>1024</option>
            <option value="2048">2048</option>
            <option value="4096">4096</option>
            <option value="8192">8192</option>
            <option value="16384">16384</option>
            <option value="32768">32768</option>
            <option value="65536">65536</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-controllers">
      <button type="submit" class="init-button">Start</button>
     
      <button type="reset" class="clear-button">Clear</button>
    </div>
  </form>
  <div><button (click)="stopMeasurement()">Stop</button></div>
</div>