<app-navbar></app-navbar>
<div class="constellations-container">
  <div class="section-description">
    <h1 class="section-title">Constellations</h1>
    <p>
      The "Constellations" section of the app displays various radio frequency
      measurement devices. Users can explore different setups, from antennas to
      complex monitoring systems. It provides a summary of these configurations
      to understand and manage the electromagnetic spectrum. Users can access
      technical information, interactive visualizations, and relevant data to
      better grasp their functioning and applications in telecommunications and
      beyond.
    </p>
  </div>
  
  <div class="constellations-list">
    @if(isAdmin){
    <button class="create-constellation-button" (click)="openCreateConstellationFormDialog()">
      <span class="material-icons">add</span>
    </button>
    }
    @for(constellation of constellations; track constellation){
    <div class="constellation-card" (click)="goTo(constellation._id)">
      <div class="constellation-info">
        <div class="constellation-data">
          <h1>{{ $index + 1 }}</h1>
        </div>
        <div class="constellation-data">
          <h3>{{ constellation.name }}</h3>
        </div>
        <div class="constellation-data">
          Created At: {{ generateTime(constellation.createdAt) }}
        </div>
        <div class="constellation-data">
          Devices: {{ constellation.devices_list.length }}
        </div>
      </div>
    </div>
    }
  </div>
</div>
