.constellations-container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    position: relative
}
.section-description{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: right;
    color: white;
    background-color: black;
}
.section-title{
    text-align: right;
    width: 100%;
}
.constellations-list{
   padding: 20px;
   width: 70%;
   display: grid;
   grid-template-columns: repeat(3, 200px);
   gap: 40px;
   place-content: center;
   align-items: center;   
}
.constellation-card{
    position: relative;
    padding: 10px;
    height: 200px;
    width: 200px;
    background-color: black;
    color: white;
}
.constellation-card:hover {
    color: black;
    background: -webkit-linear-gradient(left,rgb(255, 170, 0), rgb(249, 97, 2));
    cursor: pointer;
}

button {
    width: 6rem;
    height: 3rem;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    background: -webkit-linear-gradient(left, rgb(255, 170, 0), rgb(255, 106, 0));
    color:white;
  }
  button:hover{
    background-color: #ff924a;
    color: white;
    border-style: solid #ff924a;
    box-shadow: 0 0 5px 2px rgba(255, 136, 0, 0.863);
    animation: glowAnimation 3s infinite alternate;
  
  }
.create-constellation-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 3rem;
    font-size: 0.9rem;
}
.delete-constellation-button{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  width: 3rem;
  background-color: black;
}

.form-container {
  overflow: hidden;
  transition: height 0.3s ease;
  height: 0;
}

.form-container.open {
  height: auto;
}