
<div>
    <h1>Add Constellation</h1>
</div>
<div class="form-container">
    <form action="">
        <div class="form-field">
            <label for="name">Name</label>
            <input type="text" name="name" id="">
        </div>
        <div class="form-field">
            <label for="name">Devices</label>
            <select name="devices" id="">Devices in constellation</select>
            <!--Receive from devices service list of all devices which doesn't form part of a group-->
        </div>
        <div class="form-controllers"></div>
        <div class="form-field"></div>
    </form>
</div>