<app-navbar></app-navbar>
<div class="constellations-detail-container">
    <measurement-form [isConstellation]="true" [constellation_id]="this.id_constellation"></measurement-form>
    <div class="devices-container">
        @for(device of devices_list; track device){
            <div class="device-container" (click)="openDeviceDetail(device._id)">
                <p class="info-data">
                    Id dispositivo: {{device._id}}
                </p>
                <div class="info-data">
                    Estado: <div [ngClass]="isActive(device.state)"></div>
                    
                </div>
                <p class="info-data">
                    Última lectura: {{generateTime(device.last_lectureAt)}}
                </p>
            </div>
        }
    </div>
</div>